<% layout("./layout.html") %>

<p>
    Platforma służąca do badań nad SI dla gier kombinatorycznych, przeznaczona dla studentów Instytutu Informatyki
    Uniwersytetu Śląskiego w Katowicach. Zamieszczone na platformie gry są dziełem studentów wykonujących je w ramach
    projektu zaliczeniowego przedmiotu <i>Wprowadzenie do teorii gier</i>.
</p>

<hr />

<p class="text-center">
    <img src="images/combinatorix.jpg" alt="" />
</p>

<hr />

<p>
    Więcej informacji można znaleźć na stronie
    <a href="https://github.com/lazarow/combinatorial-games-platform" target="_blank">GitHub</a> projektu.
</p>
